---
import { Icon } from "astro-icon/components";

import Layout from "~/layouts/main.astro";
import Skill from "~/components/Skill.astro";

import {
  languages,
  getLanguage,
  skills,
  type SkillMeta,
  type Language,
} from "~/i18n";

export function getStaticPaths() {
  return [...languages].map((lang) => {
    return { params: { lang } };
  });
}

const lang = Astro.params.lang as Language;
const t = getLanguage(lang);
---

{["en"].includes(lang) && <style set:html="@page { size: Letter; }" />}
{["de"].includes(lang) && <style set:html="@page { size: A4; }" />}

<Layout
  title={t["meta.resume.title"]}
  description={t["meta.resume.description"]}
  image="https://mbund.dev/images/headshot.jpg"
>
  <div class="m-12">
    <div class="flex mb-3 justify-between">
      <section>
        <h1 class="text-3xl font-medium">{t["name"]}</h1>
      </section>

      <address class="flex not-italic">
        <div class="mr-4">
          <a
            href="https://openstreetmap.org/search?query=Columbus, Ohio"
            class="flex items-center justify-end"
          >
            <span class="text-base font-medium">Columbus, OH</span>
            <Icon name="mdi:map-marker" class="h-6 ml-1" />
          </a>
          <a
            href="mailto:mark@mbund.dev"
            class="flex items-center justify-end"
          >
            <span class="text-base font-medium">mark@mbund.dev</span>
            <Icon name="mdi:email" class="h-6 ml-1" />
          </a>
        </div>
        <div>
          <a href="https://mbund.dev" class="flex items-center justify-end">
            <span class="text-base font-medium">mbund.dev</span>
            <Icon name="ph:globe" class="h-6 ml-1" />
          </a>
          <a
            href="https://github.com/mbund"
            class="flex items-center justify-end"
          >
            <span class="text-base font-medium">mbund</span>
            <Icon name="mdi:github" class="h-6 ml-1" />
          </a>
        </div>
      </address>
    </div>

    <div class="flex flex-row gap-3">
      <section class="basis-3/5">
        <div class="flex flex-col gap-2 mb-4">
          <h1 class="text-lg uppercase text-blue-500 font-mono">
            {t["experience.title"]}
          </h1>
          
          <div class="rounded border-2 flex flex-col p-2 gap-1">
            <div class="flex justify-between">
              <span class="flex items-center">
                <a
                  href="https://github.com/rhombusgg/rhombus"
                  class="flex items-center mr-1"
                >
                  <Icon name="ic:outline-bookmark-border" class="h-6 mr-1" />
                  <h2 class="text-base font-medium">rhombusgg/rhombus</h2>
                </a>
                <a class="text-gray-400" href="https://rhombus.gg"
                  >rhombus.gg</a
                >
              </span>
              <div class="flex items-center flex-row justify-end">
                <a href="https://typescriptlang.org" class="flex items-center">
                  <Icon name="logos:typescript-icon" class="h-5 mr-1" />
                  <span class="text-sm">TypeScript</span>
                </a>
                <span class="ml-2"></span>
                <a href="https://svelte.dev" class="flex items-center">
                  <Icon name="devicon:svelte" class="h-5 mr-1" />
                  <span class="text-sm">Svelte</span>
                </a>
              </div>
            </div>
            <p class="text-sm">{t["personal-project.rhombus.description"]}</p>
          </div>

          <div class="rounded border-2 flex flex-col p-2 gap-1">
            <div class="flex justify-between">
              <a
                href="https://github.com/mbund/canvas-cli"
                class="flex items-center"
              >
                <Icon name="ic:outline-bookmark-border" class="h-6 mr-1" />
                <h2 class="text-base font-medium">mbund/canvas-cli</h2>
              </a>
              <div class="flex items-center flex-row justify-end">
                <a href="https://rust-lang.org" class="flex items-center">
                  <Icon name="logos:rust" class="h-5 mr-1" />
                  <span class="text-sm">Rust</span>
                </a>
                <span class="ml-2"></span>
              </div>
            </div>
            <p class="text-sm">
              {t["personal-project.canvas-cli.description"]}
            </p>
          </div>

          <div class="rounded border-2 flex flex-col p-2 gap-1">
            <div class="flex justify-between">
              <span class="flex items-center">
                <a
                  href="https://github.com/mbund/homelab"
                  class="flex items-center mr-1"
                >
                  <Icon name="ic:outline-bookmark-border" class="h-6 mr-1" />
                  <h2 class="text-base font-medium">mbund/homelab</h2>
                </a>
                <a class="text-gray-400" href="https://docs.mbund.org"
                  >docs.mbund.org</a
                >
              </span>
              <div class="flex items-center flex-row justify-end">
                <a href="https://kubernetes.io" class="flex items-center">
                  <Icon name="logos:kubernetes" class="h-5 mr-1" />
                  <span class="text-sm">Kubernetes</span>
                </a>
              </div>
            </div>
            <p class="text-sm">{t["personal-project.homelab.description"]}</p>
          </div>
        </div>

        <ol class="relative border-l border-gray-200">
          <li class="mb-2 ml-6">
            <a
              href="https://kududyn.com"
              class="absolute flex items-center justify-center w-6 h-6 -left-3 bg-white ring-8 ring-white"
            >
              <img src="/images/kudu-dynamics.svg" />
            </a>
            <h2 class="flex items-center mb-1">
              <a href="https://kududyn.com"
                >{t["experience.intern-kudu.header"]}</a
              >
            </h2>
            <span
              class="block mb-2 text-sm font-normal leading-none text-gray-400"
              >{t["experience.intern-kudu.subheader"]}</span
            >
            <p class="text-sm">
              {t["experience.intern-kudu.description"]}
            </p>
          </li>
          <li class="mb-2 ml-6">
            <a
              href="https://osucyber.club"
              class="absolute flex items-center justify-center w-6 h-6 -left-3 bg-white ring-8 ring-white"
            >
              <img src="/images/osucyber-logo.svg" />
            </a>
            <h2 class="flex items-center mb-1">
              <a href="https://osucyber.club">
                {t["experience.cyber-club.header"]}
              </a>
              <span
                class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded ml-3"
              >
                {t["experience.present"]}
              </span>
            </h2>
            <span
              class="block mb-2 text-sm font-normal leading-none text-gray-400"
              >{t["experience.cyber-club.subheader"]}</span
            >
            <p class="text-sm">
              {t["experience.cyber-club.description"]}
            </p>
          </li>
          <li class="mb-2 ml-6">
            <a
              href="https://insigma.de"
              class="absolute flex items-center justify-center w-6 h-6 bg-white -left-3 ring-8 ring-white"
            >
              <img src="/images/insigma-logo-m.png" />
            </a>
            <h2 class="mb-1">
              <a href="https://insigma.de"
                >{t["experience.internship-insigma.header"]}</a
              >
            </h2>
            <span
              class="block mb-2 text-sm font-normal leading-none text-gray-400"
              >{t["experience.internship-insigma.subheader"]}</span
            >
            <p class="text-sm">
              {t["experience.internship-insigma.description"]}
            </p>
          </li>
        </ol>
      </section>

      <section class="basis-2/5">
        <div class="mb-3">
          <h1 class="text-lg uppercase text-blue-500 font-mono">
            {t["objective.title"]}
          </h1>
          <p class="text-sm">
            {t["objective.text"]}
          </p>
        </div>
        
        <div class="mb-3">
          <h1 class="text-lg uppercase text-blue-500 font-mono">
            {t["interests.title"]}
          </h1>
          <p class="text-sm">
            {t["interests.description"]}
          </p>
        </div>

        <div class="mb-3">
          <h1 class="text-lg uppercase text-blue-500 font-mono">
            {t["skills.title"]}
          </h1>
          <div class="mb-2">
            <h2 class="uppercase font-mono">
              {t["skills.preferred-tech.title"]}
            </h2>
            {
              [
                [
                  skills.typescript,
                  skills.react,
                  skills.nextjs,
                  skills.svelte,
                  skills.astro,
                  skills.tailwind,
                  skills.css,
                ],
                [skills.rust, skills.zig],
              ].map((skills) => (
                <div class="flex flex-wrap gap-1">
                  {skills.map((skill, i) => (
                    <Skill href={skill.url} icon={skill.icon}>
                      {skill.name}
                    </Skill>
                  ))}
                </div>
              ))
            }
          </div>
          <div class="mb-2">
            <h2 class="uppercase font-mono">
              {t["skills.familiar-tech.title"]}
            </h2>
            <div class="flex flex-wrap gap-1">
              {
                [
                  skills.c,
                  skills.cpp,
                  skills.python,
                  skills.csharp,
                  skills.bash,
                  skills.kotlin,
                ].map((skill: SkillMeta) => (
                  <Skill href={skill.url} icon={skill.icon}>
                    {skill.name}
                  </Skill>
                ))
              }
            </div>
          </div>
          <div class="mb-2">
            <h2 class="uppercase font-mono">
              {t["skills.infrastructure.title"]}
            </h2>
            {
              [
                [skills.debian, skills.ubuntu, skills.fedora, skills.nixos],
                [skills.aws, skills.kubernetes],
              ].map((skills) => (
                <div class="flex flex-wrap gap-1">
                  {skills.map((skill, i) => (
                    <Skill href={skill.url} icon={skill.icon}>
                      {skill.name}
                    </Skill>
                  ))}
                </div>
              ))
            }
          </div>
          <div>
            <h2 class="uppercase font-mono">{t["skills.tools.title"]}</h2>
            <div class="flex flex-wrap gap-1">
              {
                [skills.vscode, skills.vim, skills.docker, skills.git].map(
                  (skill) => (
                    <Skill href={skill.url} icon={skill.icon}>
                      {skill.name}
                    </Skill>
                  )
                )
              }
            </div>
          </div>
        </div>

        <div class="mb-3">
          <h1 class="text-lg uppercase text-blue-500 font-mono">
            {t["languages.title"]}
          </h1>
          <p class="text-sm">
            {t["languages.description"]}
          </p>
        </div>

        <div class="mb-3">
          <h1 class="text-lg uppercase text-blue-500 font-mono">
            {t["hobbies.title"]}
          </h1>
          <p class="text-sm">{t["hobbies.description"]}</p>
        </div>

        <div class="mb-3">
          <h1 class="text-lg uppercase text-blue-500 font-mono">
            {t["education.title"]}
          </h1>
          <p class="text-sm">{t["education.description"]}</p>
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  @page {
    orientation: portait;
    margin: 0;
  }

  html {
    font-size: 14px;
  }

  @media print {
    * {
      print-color-adjust: exact;
    }
  }
</style>
