---
import "../styles/globals.css";

const title = "Mark Bundschuh";
const description = "Cybersecurity enthusiest and software developer";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen antialiased">
		<slot />
	</body>
</html>
